<section class="chat-wrapper mt-4">
  <div class="chat-container">
    <div class="messages" id="scrollContainer">
      <div *ngFor="let msg of chatRegistrado"
        [ngClass]="{ 'user': msg.idTipoMensaje === 0, 'bot': msg.idTipoMensaje === 1 }" class="message-bubble">
        <span [innerHTML]="msg.mensaje"></span>
        <span class="timestamp">{{ this.fechaActual | date: 'hh:mm a' }}</span>
      </div>
    </div>

    <div *ngIf="loading" class="loading">
      <span class="dot"></span><span class="dot"></span><span class="dot"></span>
      <span class="loading-text">Escribiendo...</span>
    </div>
<form (ngSubmit)="sendMessage()" class="input-form modern">
      <input type="text" [(ngModel)]="inputText" name="message" placeholder="Escribe tu mensaje aquí..."
       [disabled]="pagoHabilitado" />
      
      <button type="submit" [disabled]="!inputText.trim() || pagoHabilitado">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
          class="icon-send">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M4.5 19.5L19.5 12L4.5 4.5V10.5L12 12L4.5 13.5V19.5Z" />
        </svg>
      </button>
    </form>



    <!-- <div *ngIf="impresionVisible" class="impresion-seccion">
      <h3>Impresión Diagnóstica</h3>
      <button (click)="generarPDF()" class="btn-secondary-action">
        Generar PDF
      </button>
    </div> -->

  </div>
  <div *ngIf="pagoHabilitado" class="payment-float">
    <button (click)="pagar()" class="btn-mercado-pago floating">

      <span class="badge-monto">$1.000</span>

      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
        stroke-linecap="round" stroke-linejoin="round">
        <rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect>
        <line x1="1" y1="10" x2="23" y2="10"></line>
      </svg>

    </button>
  </div>


</section>