<nav class="navbar navbar-expand-lg fixed-top navbar-dark navbar-custom">
  <div class="container">
    <!-- Logo envuelto para el efecto blur/blanco -->
    <div class="logo-wrapper">
      <img src="assets/medici_sin_fondo_v3.png" alt="Medici Logo" class="logo">
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav"
      aria-controls="mainNav" aria-expanded="false" aria-label="Mostrar menú">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" routerLink="/">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/servicios">Servicios</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/equipo">Equipo</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="contactDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Contacto
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="contactDropdown">
            <li><a class="dropdown-item" routerLink="/contacto">Contáctanos</a></li>
            <li><a class="dropdown-item" routerLink="/ubicacion">Ubicación</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>