<footer class="footer bg-light text-dark pt-5 pb-4">
  <div class="container text-center text-md-start">
    <div class="row">

      <!-- Columna 1: Navegación -->
      <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
        <h6 class="text-uppercase fw-bold">Navegación</h6>
        <hr class="mb-3 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #20B2FF; height: 2px">
        <ul class="list-unstyled">
          <li><a class="text-dark" routerLink="/">Inicio</a></li>
          <li><a class="text-dark" routerLink="/servicios">Servicios</a></li>
          <li><a class="text-dark" routerLink="/equipo">Equipo</a></li>
        </ul>
      </div>

      <!-- Columna 2: Contacto -->
      <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
        <h6 class="text-uppercase fw-bold">Contacto</h6>
        <hr class="mb-3 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #20B2FF; height: 2px">
        <ul class="list-unstyled">
          <li><a class="text-dark" routerLink="/contacto">Contáctanos</a></li>
          <li><a class="text-dark" routerLink="/ubicacion">Ubicación</a></li>
          <li><a class="text-dark" href="mailto:info@medici.com">infomedici.com</a></li>
          <li><a class="text-dark" href="tel:+123456789">+1 234 567 89</a></li>
        </ul>
      </div>

      <!-- Columna 3: Logo -->
      <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4 text-center">
        <img src="assets/medici_sin_fondo_v2.png" alt="Logo Medici" style="width: 100px;" class="mb-2">
        <p class="text-muted">© 2025 Medici. Todos los derechos reservados.</p>
      </div>

    </div>
  </div>
</footer>
